In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
data=pd.read_csv('heartstroke.csv')
df=pd.DataFrame(data)
print(df)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

In [6]:
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

## EDA:<DATASET>
1. load and overview
2. Cleaning(missing,  dupes,  dtypes)
3. uni, bi, and  multi variate analysis
4. outliers-IQR
5. Feature Engineering
6. key insights

## To load and analyise overview of the data

In [ ]:
#load the dataset
data=pd.read_csv('heartstroke.csv')

In [9]:
#basic information  and overview of the dataset
print("shape of the datset:",data.shape)
print("\ndata info:",data.info())

# summary statistics
print("\nsummary statistics:",data.describe(include='all'))
print("\ndataset coulmns:",data.columns)

shape of the datset: (5110, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

data info: None

summary statistics:                   id  gender          age  hypertension  heart_disease  \
count    5110.000000    5110  5110.000000   5110.000000    5110.000000
unique           NaN       3          NaN           NaN            NaN
top              NaN  Female          NaN           NaN            NaN
freq             NaN    2994          NaN           NaN            NaN
mean    36517.829354     NaN    43.226614      0.097456       0.054012
std     21161.721625     NaN    22.612647      0.296607       0.226063
min        67.000000     NaN     0.080000      0.000000       0.000000
25%     17741.250000     NaN    25.000000      0.000000       0.000000
50%     36932.000000     NaN    45.000000      0.000000       0.000000
75%     54682.000000     NaN    61.000000      0.000000       0.000000
max     72940.000000     NaN    82.000000      1.000000       1.000000

       ever_married work_type Residence_type  avg_glucose_level          bmi  \
count          5110      5110           5110        5110.000000  4909.000000
unique            2         5              2                NaN          NaN
top             Yes   Private          Urban                NaN          NaN
freq           3353      2925           2596                NaN          NaN
mean            NaN       NaN            NaN         106.147677    28.893237
std             NaN       NaN            NaN          45.283560     7.854067
min             NaN       NaN            NaN          55.120000    10.300000
25%             NaN       NaN            NaN          77.245000    23.500000
50%             NaN       NaN            NaN          91.885000    28.100000
75%             NaN       NaN            NaN         114.090000    33.100000
max             NaN       NaN            NaN         271.740000    97.600000

       smoking_status       stroke
count            5110  5110.000000
unique              4          NaN
top      never smoked          NaN
freq             1892          NaN
mean              NaN     0.048728
std               NaN     0.215320
min               NaN     0.000000
25%               NaN     0.000000
50%               NaN     0.000000
75%               NaN     0.000000
max               NaN     1.000000

dataset coulmns: Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [11]:
# to check the missing values in the data
data.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [25]:
print(f"unique data values of feature id{data['id'].unique()}")
print(f"unique data values of feature gender{data['gender'].unique()}")
print(f"unique data values of feature hypertension{data['hypertension'].unique()}")
print(f"unique data values of feature heart_disease{data['heart_disease'].unique()}")
print(f"unique data values of feature age{data['age'].unique()}")
print(f"unique data values of feature ever_married{data['ever_married'].unique()}")
print(f"unique data values of feature work_type{data['work_type'].unique()}")  
print(f"unique data values of feature Residence_type{data['Residence_type'].unique()}")
print(f"unique data values of feature smoking_status{data['smoking_status'].unique()}")
print(f"unique data values of feature stroke{data['stroke'].unique()}")

unique data values of feature id[ 9046 51676 31112 ... 19723 37544 44679]
unique data values of feature gender['Male' 'Female' 'Other']
unique data values of feature hypertension[0 1]
unique data values of feature heart_disease[1 0]
unique data values of feature age[6.70e+01 6.10e+01 8.00e+01 4.90e+01 7.90e+01 8.10e+01 7.40e+01 6.90e+01
 5.90e+01 7.80e+01 5.40e+01 5.00e+01 6.40e+01 7.50e+01 6.00e+01 5.70e+01
 7.10e+01 5.20e+01 8.20e+01 6.50e+01 5.80e+01 4.20e+01 4.80e+01 7.20e+01
 6.30e+01 7.60e+01 3.90e+01 7.70e+01 7.30e+01 5.60e+01 4.50e+01 7.00e+01
 6.60e+01 5.10e+01 4.30e+01 6.80e+01 4.70e+01 5.30e+01 3.80e+01 5.50e+01
 1.32e+00 4.60e+01 3.20e+01 1.40e+01 3.00e+00 8.00e+00 3.70e+01 4.00e+01
 3.50e+01 2.00e+01 4.40e+01 2.50e+01 2.70e+01 2.30e+01 1.70e+01 1.30e+01
 4.00e+00 1.60e+01 2.20e+01 3.00e+01 2.90e+01 1.10e+01 2.10e+01 1.80e+01
 3.30e+01 2.40e+01 3.40e+01 3.60e+01 6.40e-01 4.10e+01 8.80e-01 5.00e+00
 2.60e+01 3.10e+01 7.00e+00 1.20e+01 6.20e+01 2.00e+00 9.00e+00 1.50e+01
 2.80e+01 1.00e+01 1.80e+00 3.20e-01 1.08e+00 1.90e+01 6.00e+00 1.16e+00
 1.00e+00 1.40e+00 1.72e+00 2.40e-01 1.64e+00 1.56e+00 7.20e-01 1.88e+00
 1.24e+00 8.00e-01 4.00e-01 8.00e-02 1.48e+00 5.60e-01 4.80e-01 1.60e-01]
unique data values of feature ever_married['Yes' 'No']
unique data values of feature work_type['Private' 'Self-employed' 'Govt_job' 'children' 'Never_worked']
unique data values of feature Residence_type['Urban' 'Rural']
unique data values of feature smoking_status['formerly smoked' 'never smoked' 'smokes' 'Unknown']
unique data values of feature stroke[1 0]

In [27]:
print(f'length of the unique features of id: {len(data['id'].unique())}')
print(f'length of the unique features of gender: {len(data['gender'].unique())}')
print(f'length of the unique features of hypertension: {len(data['hypertension'].unique())}')        
print(f'length of the unique features of heart_disease: {len(data['heart_disease'].unique())}')
print(f'length of the unique features of age: {len(data['age'].unique())}')
print(f'length of the unique features of ever_married: {len(data['ever_married'].unique())}')
print(f'length of the unique features of work_type: {len(data['work_type'].unique())}')
print(f'length of the unique features of Residence_type: {len(data['Residence_type'].unique())}')
print(f'length of the unique features of smoking status: {len(data['smoking_status'].unique())}')
print(f'length of the unique features of stroke: {len(data['stroke'].unique())}')

length of the unique features of id: 5110
length of the unique features of gender: 3
length of the unique features of hypertension: 2
length of the unique features of heart_disease: 2
length of the unique features of age: 104
length of the unique features of ever_married: 2
length of the unique features of work_type: 5
length of the unique features of Residence_type: 2
length of the unique features of smoking status: 4
length of the unique features of stroke: 2